https://mmlake-packages.s3.us-east-2.amazonaws.com/mm_lake_tools-master.zip 
pyarrow
numba==0.50.0
fastparquet
boto3
pyathena
pymongo
sqlalchemy
pymysql
pymssql==2.1.4
elasticsearch
bs4
s3fs
PyOpenSSL
psycopg2==2.7.6.1
opsgenie-sdk
requests-aws4auth
gspread
oauth2client
fake-useragent
Pillow